[submodule "lib/tomlplusplus"]
	path = app/lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "lib/CLI11"]
	path = app/lib/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "lib/spdlog"]
	path = app/lib/spdlog
	url = https://github.com/gabime/spdlog
